{
    "openapi": "3.1.0",
    "info": {
        "title": "Transparency Platform Restful API",
        "version": "1.0.0",
        "description": "Auto-generated from the official ENTSO-E Postman collection by\n`scripts/postman_to_openapi.jl`.\n\nThe real ENTSO-E Transparency Platform API exposes a single endpoint that is\ndispatched purely by query parameters. To make this spec useful for code\ngeneration, each Postman request has been mapped to a SYNTHETIC path of the\nform `/{group}/{request-name}`. A client implemented from this spec must\nroute every operation back to the real base URL with the query parameters\nattached.\n"
    },
    "servers": [
        {
            "url": "https://web-api.tp.entsoe.eu/api",
            "description": "ENTSO-E Transparency Platform (synthetic paths -- see info.description)"
        }
    ],
    "security": [
        {
            "SecurityToken": [
            ]
        }
    ],
    "tags": [
        {
            "name": "Market"
        },
        {
            "name": "Load"
        },
        {
            "name": "Generation"
        },
        {
            "name": "Transmission"
        },
        {
            "name": "Outages"
        },
        {
            "name": "Balancing"
        },
        {
            "name": "Master Data"
        },
        {
            "name": "OMI"
        }
    ],
    "paths": {
        "/market/12-1-e-implicit-and-flow-based-allocations-congestion-income": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.E Implicit and Flow-based Allocations - Congestion Income",
                "operationId": "market_12_1_e_implicit_and_flow_based_allocations_congestion_income",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A25 = Allocation results",
                        "example": "A25"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B10 = Congestion income",
                        "example": "B10"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Daily; A07 = Intraday",
                        "example": "A01"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Border (or Bidding Zone for Flow Based Allocations)",
                        "example": "10YAT-APG------L"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Border (or Bidding Zone for Flow Based Allocations) - same as out_Domain",
                        "example": "10YAT-APG------L"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308232200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308242200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-b-total-nominated-capacity": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.B Total Nominated Capacity",
                "operationId": "market_12_1_b_total_nominated_capacity",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A26 = Capacity document",
                        "example": "A26"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B08 = Total nominated capacity",
                        "example": "B08"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area or Bidding Zone",
                        "example": "10YGB----------A"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area or Bidding Zone",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308202200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308212200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/11-1-implicit-allocations-offered-transfer-capacity": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "11.1 Implicit Allocations - Offered Transfer Capacity",
                "operationId": "market_11_1_implicit_allocations_offered_transfer_capacity",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A31 = Agreed capacity",
                        "example": "A31"
                    },
                    {
                        "name": "auction.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Implicit",
                        "example": "A01"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Day ahead; A07 = Intraday",
                        "example": "A01"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YDK-1--------W"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10Y1001A1001A82H"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202212312300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202301012300"
                    },
                    {
                        "name": "Update_DateAndOrTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "For Offered Capacity Evolution can be quried with datetime in numeric. For example 20210803113900000 for evolution update date time 03.08.2021 13:39:00.000",
                        "example": "20230313123900"
                    },
                    {
                        "name": "ClassificationSequence_AttributeInstanceComponent.Position",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer",
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-h-transfer-capacities-allocated-with-third-countries-12-1-h-explicit": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.H Transfer Capacities Allocated with Third Countries [12.1.H] (explicit)",
                "operationId": "market_12_1_h_transfer_capacities_allocated_with_third_countries_12_1_h_explicit",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A94 = Non EU allocations",
                        "example": "A94"
                    },
                    {
                        "name": "auction.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A02 = Explicit",
                        "example": "A02"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday; A01 = Daily; A02 = Weekly; A03 = Monthly; A08 = Quarterly; A04 = Yearly; A06 = Long Term",
                        "example": "A07"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone, Bidding Zone Aggregation",
                        "example": "10YFI-1--------U"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone, Bidding Zone Aggregation",
                        "example": "10Y1001A1001A49F"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308232200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308242200"
                    },
                    {
                        "name": "auction.Category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Base; A02 = Peak; A03 = Off Peak; A04 = Hourly",
                        "example": "A04"
                    },
                    {
                        "name": "classificationSequence_AttributeInstanceComponent.Position",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer",
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-c-total-capacity-already-allocated": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.C Total Capacity Already Allocated",
                "operationId": "market_12_1_c_total_capacity_already_allocated",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A26 = Capacity Document",
                        "example": "A26"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A29 = Already Allocated Capacity",
                        "example": "A29"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday; A01 = Daily; A02 = Weekly; A03 = Monthly; A08 = Quarterly; A04 = Yearly; A06 = Long Term",
                        "example": "A01"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YHR-HEP------M"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YBA-JPCC-----D"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308242200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308252200"
                    },
                    {
                        "name": "auction.Category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Base; A02 = Peak; A03 = Off Peak; A04 = Hourly",
                        "example": "A02"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/11-1-a-explicit-allocations-offered-transfer-capacity": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "11.1.A Explicit Allocations - Offered Transfer Capacity",
                "operationId": "market_11_1_a_explicit_allocations_offered_transfer_capacity",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A31 = Agreed capacity",
                        "example": "A31"
                    },
                    {
                        "name": "auction.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A02 = Explicit",
                        "example": "A02"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday; A01 = Day ahead; A02 = Weekly; A03 = Monthly; A08 = Quarterly; A04 = Yearly; A06 = Long Term",
                        "example": "A01"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YGB----------A"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308152200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308162200"
                    },
                    {
                        "name": "auction.Category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Base; A02 = Peak; A03 = Off Peak; A04 = Hourly",
                        "example": "A04"
                    },
                    {
                        "name": "Update_DateAndOrTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "For Offered Capacity Evolution can be quried with datetime in numeric. For example 20210803113900000 for evolution update date time 03.08.2021 13:39:00.000",
                        "example": "20230313123900"
                    },
                    {
                        "name": "ClassificationSequence_AttributeInstanceComponent.Position",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer",
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-a-explicit-allocations-use-of-the-transfer-capacity": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.A Explicit Allocations - Use of the Transfer Capacity",
                "operationId": "market_12_1_a_explicit_allocations_use_of_the_transfer_capacity",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A25 = Allocation result document",
                        "example": "A25"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A43 = Requested capacity (without price); B05 = Capacity allocated (including price)",
                        "example": "B05"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday; A01 = Day ahead; A02 = Weekly; A03 = Monthly; A08 = Quarterly; A04 = Yearly; A06 = Long Term",
                        "example": "A07"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YGB----------A"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308152200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308162200"
                    },
                    {
                        "name": "Auction.Category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Base; A02 = Peak; A03 = Off Peak; A04 = Hourly",
                        "example": "A04"
                    },
                    {
                        "name": "ClassificationSequence_AttributeInstanceComponent.Position",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer",
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-a-explicit-allocations-auction-revenue": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.A Explicit Allocations - Auction Revenue",
                "operationId": "market_12_1_a_explicit_allocations_auction_revenue",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A25 = Allocation result document",
                        "example": "A25"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B07 = Auction Revenue",
                        "example": "B07"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday; A01 = Daily; A02 = Weekly; A03 = Monthly; A08 = Quarterly; A04 = Yearly; A06 = Long Term",
                        "example": "A01"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or a Bidding Zone Aggregation",
                        "example": "10YHR-HEP------M"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or a Bidding Zone Aggregation",
                        "example": "10YBA-JPCC-----D"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308242200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308252200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-e-implicit-auction-net-positions": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.E Implicit Auction — Net Positions",
                "operationId": "market_12_1_e_implicit_auction_net_positions",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A25 = Allocation results",
                        "example": "A25"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B09 = Net position",
                        "example": "B09"
                    },
                    {
                        "name": "contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Daily; A05 = Total; A07 = Intraday",
                        "example": "A07"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Bidding Zone or a Control Area",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Bidding Zone or a Control Area (must be same as out_Domain)",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308222200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308232200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/11-1-b-flow-based-allocations": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "11.1.B Flow Based Allocations",
                "operationId": "market_11_1_b_flow_based_allocations",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 1 instances contained in the ZIP response, split into several files within the response ZIP file.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B09 = Flow Based Domain Publication",
                        "example": "B09"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A43 = Day ahead; A44 = Intraday; A32 = Month-ahead; A33 = Year-ahead",
                        "example": "A44"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Region",
                        "example": "10YDOM-REGION-1V"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Region",
                        "example": "10YDOM-REGION-1V"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "201402032300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "201402040500"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/11-1-b-flow-based-allocations-archives": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "11.1.B Flow Based Allocations Archives",
                "operationId": "market_11_1_b_flow_based_allocations_archives",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 1 archive in the ZIP response.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B09 = Flow Based Domain Publication",
                        "example": "B09"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A43 = Day ahead; A44 = Intraday; A32 = Month-ahead; A33 = Year-ahead",
                        "example": "A32"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Region",
                        "example": "10YDOM-REGION-1V"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Region",
                        "example": "10YDOM-REGION-1V"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "201812302300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "201812312200"
                    },
                    {
                        "name": "StorageType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "archive",
                        "example": "archive"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/11-1-continuous-allocations-offered-transfer-capacity": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "11.1 Continuous Allocations - Offered Transfer Capacity",
                "operationId": "market_11_1_continuous_allocations_offered_transfer_capacity",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response. The `offset`parameter can be used to retrieve the data in batches of up to 100 TimeSeries, where `offset=0` returns the first 100 elements, `offset=100` returns the next 100, and so on.",
                "parameters": [
                    {
                        "name": "DocumentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A31 = Agreed capacity; B33 = Published offered capacity",
                        "example": "A31"
                    },
                    {
                        "name": "Auction.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A08 = Continuous",
                        "example": "A08"
                    },
                    {
                        "name": "Out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "In_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Bidding Zone Aggregation",
                        "example": "10YNL----------L"
                    },
                    {
                        "name": "PeriodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202405152200"
                    },
                    {
                        "name": "PeriodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202504162200"
                    },
                    {
                        "name": "Contract_MarketAgreement.Type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A07 = Intraday",
                        "example": "A07"
                    },
                    {
                        "name": "Update_DateAndOrTime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "For Offered Capacity Evolution can be quried with datetime in numeric. For example 20210803113900000 for evolution update date time 03.08.2021 13:39:00.000.\n\nIf there is no OC evolution version with requested update_DateAndOrTime the system selects OC version valid in the given time (e.g., closest previous update_DateAndOrTime). The most recent publish OC version is provided in case the update_DateAndOrTime parameter is omitted. The most recent published OC version and intermediate OC versions is distinguished by document type:\n−\tIntermediate OC values: A31\n−\tMost recent published OC values: B33\n",
                        "example": "20240515123900"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/12-1-d-energy-prices": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "12.1.D Energy Prices",
                "operationId": "market_12_1_d_energy_prices",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.  \n<u><b><br>Response limit</b></u>: A maximum of 100 TimeSeries elements is returned per XML response. The `offset`parameter can be used to retrieve the data in batches of up to 100 TimeSeries, where `offset=0` returns the first 100 elements, `offset=100` returns the next 100, and so on.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Price Document",
                        "example": "A44"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202407272200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202407282200"
                    },
                    {
                        "name": "out_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Bidding Zone ",
                        "example": "10YAT-APG------L"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Bidding Zone (must be same as out_Domain)",
                        "example": "10YAT-APG------L"
                    },
                    {
                        "name": "contract_MarketAgreement.type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Day-ahead ; A07 = Intraday",
                        "example": "A01"
                    },
                    {
                        "name": "classificationSequence_AttributeInstanceComponent.position",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer",
                        "example": "1"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Integer: Zero‑based index of the first TimeSeries to return. The offset parameter paginates the response in batches of 100 TimeSeries (e.g., offset = n returns the TimeSeries in the range n+1 to n+100).",
                        "example": "0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-a-actual-total-load-security-token-in-header": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.A Actual Total Load - SECURITY_TOKEN in header",
                "operationId": "load_6_1_a_actual_total_load_security_token_in_header",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.\n\n**Note**: This is an example where the security token is included in the request header rather than in the query parameters.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A16 = Realised",
                        "example": "A16"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202303030000"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202303060000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-a-actual-total-load-post": {
            "post": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.A Actual Total Load (Post)",
                "operationId": "load_6_1_a_actual_total_load_post",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-a-actual-total-load": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.A Actual Total Load",
                "operationId": "load_6_1_a_actual_total_load",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A16 = Realised",
                        "example": "A16"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202303030000"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202303060000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-b-day-ahead-total-load-forecast": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.B Day-ahead Total Load Forecast",
                "operationId": "load_6_1_b_day_ahead_total_load_forecast",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Day ahead",
                        "example": "A01"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308140000"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308170000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-c-week-ahead-total-load-forecast": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.C Week-ahead Total Load Forecast",
                "operationId": "load_6_1_c_week_ahead_total_load_forecast",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A31 = Week ahead",
                        "example": "A31"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308132200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308202200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-d-month-ahead-total-load-forecast": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.D Month-ahead Total Load Forecast",
                "operationId": "load_6_1_d_month_ahead_total_load_forecast",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A32 = Month ahead",
                        "example": "A32"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC of a Control Area, Bidding Zone or Country",
                        "example": "{{outBiddingZone_Domain}}"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202307022200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308062200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/6-1-e-year-ahead-total-load-forecast": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "6.1.E Year-ahead Total Load Forecast",
                "operationId": "load_6_1_e_year_ahead_total_load_forecast",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A65 = System total load",
                        "example": "A65"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A33 = Year ahead",
                        "example": "A33"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202301012300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202312312300"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/load/8-1-year-ahead-forecast-margin": {
            "get": {
                "tags": [
                    "Load"
                ],
                "summary": "8.1 Year-ahead Forecast Margin",
                "operationId": "load_8_1_year_ahead_forecast_margin",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A70 = Load forecast margin",
                        "example": "A70"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A33 = Year ahead",
                        "example": "A33"
                    },
                    {
                        "name": "outBiddingZone_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCZ-CEPS-----N"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202212312300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202312312300"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/14-1-a-installed-capacity-per-production-type": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "14.1.A Installed Capacity per Production Type",
                "operationId": "generation_14_1_a_installed_capacity_per_production_type",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A68 = Installed generation per type",
                        "example": "A68"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A33 = Year ahead",
                        "example": "A33"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202212312300"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202312312300"
                    },
                    {
                        "name": "PsrType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B01 = Biomass; B02 = Fossil Brown coal/Lignite; B03 = Fossil Coal-derived gas; B04 = Fossil Gas; B05 = Fossil Hard coal; B06 = Fossil Oil; B07 = Fossil Oil shale; B08 = Fossil Peat; B09 = Geothermal; B10 = Hydro Pumped Storage; B11 = Hydro Run-of-river and poundage; B12 = Hydro Water Reservoir; B13 = Marine; B14 = Nuclear; B15 = Other renewable; B16 = Solar; B17 = Waste; B18 = Wind Offshore; B19 = Wind Onshore; B20 = Other; B25 = Energy storage",
                        "example": "B01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/16-1-d-water-reservoirs-and-hydro-storage-plants": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "16.1.D Water Reservoirs and Hydro Storage Plants",
                "operationId": "generation_16_1_d_water_reservoirs_and_hydro_storage_plants",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A72 = Reservoir filling information",
                        "example": "A72"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A16 = Realised",
                        "example": "A16"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area, Bidding Zone or Country",
                        "example": "10YCA-BULGARIA-R"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202307092100"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202307162100"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/16-1-b-c-actual-generation-per-production-type": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "16.1.B&C Actual Generation per Production Type",
                "operationId": "generation_16_1_b_c_actual_generation_per_production_type",
                "description": "<u><b>Request limit</b></u>: Each request may cover a period of up to 1 year.\n\nResponse from API is same irrespective of querying for Document Types A74 - Wind & Solar & A75 - Actual Generation Per Type\n\nTime series with inBiddingZone_Domain attribute reflects Generation values while outBiddingZone_Domain reflects Consumption values.**",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A75 = Actual generation per type (all production types); A74 = Wind and solar generation only",
                        "example": "A75"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A16 = Realised",
                        "example": "A16"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Control Area, Bidding Zone, Country",
                        "example": "10Y1001A1001A83F"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308152200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308162200"
                    },
                    {
                        "name": "psrType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B01 = Biomass; B02 = Fossil Brown coal/Lignite; B03 = Fossil Coal-derived gas; B04 = Fossil Gas; B05 = Fossil Hard coal; B06 = Fossil Oil; B07 = Fossil Oil shale; B08 = Fossil Peat; B09 = Geothermal; B10 = Hydro Pumped Storage; B11 = Hydro Run-of-river and poundage; B12 = Hydro Water Reservoir; B13 = Marine; B14 = Nuclear; B15 = Other renewable; B16 = Solar; B17 = Waste; B18 = Wind Offshore; B19 = Wind Onshore; B20 = Other; B25 = Energy storage",
                        "example": "B01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/16-1-a-actual-generation-per-generation-unit": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "16.1.A Actual Generation per Generation Unit",
                "operationId": "generation_16_1_a_actual_generation_per_generation_unit",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 day.\n\n**Important notes:**\n\n- Response from API is same irrespective of querying for Document Types A74 - Wind & Solar & A75 - Actual Generation Per Type\n    \n- Time series with inBiddingZone_Domain attribute reflects **generation** values while outBiddingZone_Domain reflects **consumption** values.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A73 = Actual generation",
                        "example": "A73"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A16 = Realised",
                        "example": "A16"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC code of a Control Area",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308152200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308162200"
                    },
                    {
                        "name": "PsrType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "B01 = Biomass; B02 = Fossil Brown coal/Lignite; B03 = Fossil Coal-derived gas; B04 = Fossil Gas; B05 = Fossil Hard coal; B06 = Fossil Oil; B07 = Fossil Oil shale; B08 = Fossil Peat; B09 = Geothermal; B10 = Hydro Pumped Storage; B11 = Hydro Run-of-river and poundage; B12 = Hydro Water Reservoir; B13 = Marine; B14 = Nuclear; B15 = Other renewable; B16 = Solar; B17 = Waste; B18 = Wind Offshore; B19 = Wind Onshore; B20 = Other; B25 = Energy storage",
                        "example": "B14"
                    },
                    {
                        "name": "RegisteredResource",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "EIC Code of a Generation Unit",
                        "example": "22WAMERCO000008L"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/14-1-c-generation-forecast-day-ahead": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "14.1.C Generation Forecast - Day ahead",
                "operationId": "generation_14_1_c_generation_forecast_day_ahead",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.\n\nTime series with inBiddingZone_Domain attribute reflects Generation values while outBiddingZone_Domain reflects Consumption values.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A71 = Generation forecast",
                        "example": "A71"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Day ahead",
                        "example": "A01"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Control Area, Bidding Zone, Country",
                        "example": "10YBE----------2"
                    },
                    {
                        "name": "periodStart",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308152200"
                    },
                    {
                        "name": "periodEnd",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Pattern yyyyMMddHHmm e.g. 201601010000",
                        "example": "202308162200"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/generation/14-1-d-generation-forecasts-for-wind-and-solar": {
            "get": {
                "tags": [
                    "Generation"
                ],
                "summary": "14.1.D Generation Forecasts for Wind and Solar",
                "operationId": "generation_14_1_d_generation_forecasts_for_wind_and_solar",
                "description": "<u><b>Request limit:</b></u> Each request may cover a period of up to 1 year.",
                "parameters": [
                    {
                        "name": "documentType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A69 = Wind and solar forecast",
                        "example": "A69"
                    },
                    {
                        "name": "processType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "A01 = Day ahead; A18 = Current; A40 = Intraday",
                        "example": "A01"
                    },
                    {
                        "name": "in_Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
[...]
